################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/GoogleBooks/.vs/GoogleBooks
/GoogleBooks/GoogleBooks/obj/Debug
/GoogleBooks/GoogleBooks/bin/Debug
/GoogleBooks/packages
obj/
bin/
.vs/
/packages
client_secret.json
credentials.json